@mixin propriete_x($propriete, $first_value, $max_widths_values) {
	@if $first_value {
		#{$propriete}: $first_value;
	}

	@each $max_width, $value in $max_widths_values {
		@if $value {
			@media (max-width: $max_width) {
				#{$propriete}: $value;
			}
		}
	}
}

$color_red: #f00;

.container {
	margin: 0 auto;

	@include propriete_x(
		max-width,
		1200px,
		(
			"1920px": 61.875vw,
			"991px": 93.239vw,
			"768px": 100vw,
			"480px": 100vw,
		)
	);
}

:global {
	.title {
		background-color: rgba($color_red, 0.5);

		@include propriete_x(
			font-size,
			35px,
			(
				"1920px": 1.823vw,
				"991px": 2.725vw,
				"768px": 3.385vw,
				"480px": 4.792vw,
			)
		);
	}
}